/*
    src/resource/resource.rc
 */

#include ".\resource.h"

ID_CURSOR_PEN_CURSOR CURSOR src\resource\aero_pen_xl.cur
ID_CURSOR_ERASER_CURSOR ERASER src\resource\eraser.ico

ID_MENU_BACKGROUND_COLOR MENU
BEGIN
    POPUP "&Background"
    BEGIN
        MENUITEM "Black", ID_MENU_BACKGROUND_COLOR_BLACK
        MENUITEM "Green", ID_MENU_BACKGROUND_COLOR_GREEN
        MENUITEM "Red", ID_MENU_BACKGROUND_COLOR_RED
        MENUITEM "White", ID_MENU_BACKGROUND_COLOR_WHITE
    END
END

ID_MENU_FOREGROUND_COLOR MENU
BEGIN
    POPUP "&ForeGround"
    BEGIN
        MENUITEM "Black", ID_MENU_FOREGROUND_COLOR_BLACK
        MENUITEM "Blue", ID_MENU_FOREGROUND_COLOR_BLUE
        MENUITEM "Green", ID_MENU_FOREGROUND_COLOR_GREEN
        MENUITEM "Red", ID_MENU_FOREGROUND_COLOR_RED
        MENUITEM "White", ID_MENU_FOREGROUND_COLOR_WHITE
    END
END

ID_MENU_BAR MENU
BEGIN
    POPUP "&File"       
    BEGIN
        MENUITEM "Save", ID_MENU_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "Exit", ID_MENU_FILE_EXIT
    END
    POPUP "&Backround"
    BEGIN
        MENUITEM "Black", ID_MENU_BACKGROUND_COLOR_BLACK
        MENUITEM "Green", ID_MENU_BACKGROUND_COLOR_GREEN
        MENUITEM "Red", ID_MENU_BACKGROUND_COLOR_RED
        MENUITEM "White", ID_MENU_BACKGROUND_COLOR_WHITE
    END
    POPUP "&Foreground"
    BEGIN
        MENUITEM "Black", ID_MENU_FOREGROUND_COLOR_BLACK
        MENUITEM "Blue", ID_MENU_FOREGROUND_COLOR_BLUE
        MENUITEM "Green", ID_MENU_FOREGROUND_COLOR_GREEN
        MENUITEM "Red", ID_MENU_FOREGROUND_COLOR_RED
        MENUITEM "White", ID_MENU_FOREGROUND_COLOR_WHITE 
    END
END

ID_MENU_FILE_SAVE_DIALOG_CONTROL DIALOGEX 0, 0, 200, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU /*| WS_VISIBLE*/
CAPTION "Save to PNG file"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL "Enter file name:", IDC_STATIC, "Static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 10, 180, 16
    CONTROL "", ID_MENU_FILE_SAVE_DIALOG_CONTROL_EDIT_CONTROL , "Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 30, 180, 20
    PUSHBUTTON "OK", IDOK, 70, 60, 60, 24, WS_TABSTOP
    PUSHBUTTON "Cancel", IDCANCEL, 140, 60, 60, 24, WS_TABSTOP
END

